<%- include('header') %>
<body>
  <h1>Selamat datang di Website Sayur Segar</h1>
  <h5>Jangan lupa register dan login untuk berbelanja yaa</h5>
  <h6>Selamat berbelanja!</h6>
  <p>
    <% for (let i in dataProduk.listProduk) { %> 
    <% for (let key in dataProduk.listProduk[i]) { %> 
    <%= key %> : <%=dataProduk.listProduk[i][key] %>
    <br />

    <%}%>
    <form action="/user/data-cart" method="POST">
      <input type="hidden" name="id_produk" value="<%= dataProduk.listProduk[i].id_produk %>">
      <input type="number" name="quantity" id="jumlah<%=i%>" />
      <button type="submit">Add</button>
    </form>
    <br /><br />
    <%}%>
  </p>
</body>
<%- include('footer') %>
