<%- include('header') %>
<body>
  <div class="container">
    <h2>Kelola Data Akun Anda!</h2>
    <form
      action="/user/user-dataAccount/<%= user.id_user %>?_method=put"
      method="POST"
      class="mt-4"
    >
      <input type="hidden" name="_method" value="PUT" />
      <div class="form-group">
        <label for="nama_user">Nama User:</label>
        <input
          type="text"
          id="nama_user"
          name="nama_user"
          value="<%= user.nama_user %>"
          class="form-control"
        />
      </div>
      <div class="form-group">
        <label for="username">Username:</label>
        <input
          type="text"
          id="username"
          name="username"
          value="<%= user.username %>"
          class="form-control"
        />
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input
          type="password"
          id="password"
          name="password"
          value="<%= user.password %>"
          class="form-control"
        />
      </div>
      <div class="form-group">
        <label for="no_hp">No HP:</label>
        <input
          type="text"
          id="no_hp"
          name="no_hp"
          value="<%= user.no_hp %>"
          class="form-control"
        />
      </div>
      <div class="form-group">
        <label for="email_user">Email User:</label>
        <input
          type="email"
          id="email_user"
          name="email_user"
          value="<%= user.email_user %>"
          class="form-control"
        />
      </div>
      <div class="form-group">
        <label for="alamat_lengkap">Alamat Lengkap:</label>
        <input
          type="text"
          id="alamat_lengkap"
          name="alamat_lengkap"
          value="<%= user.alamat_lengkap %>"
          class="form-control"
        />
      </div>
      <div class="form-group">
        <label for="id_kecamatan">Kecamatan:</label>
        <select id="id_kecamatan" name="id_kecamatan" class="form-control">
          <% kecamatan.forEach(function(kec) { %>
            <option value="<%= kec.id_kecamatan %>" <%= user.id_kecamatan == kec.id_kecamatan ? 'selected' : '' %>><%= kec.nama_kecamatan %></option>
          <% }); %>
        </select>
      </div>
      <div class="form-group">
        <label for="id_desa">Desa:</label>
        <select id="id_desa" name="id_desa" class="form-control">
          <% desa.forEach(function(des) { %>
            <option value="<%= des.id_desa %>" <%= user.id_desa == des.id_desa ? 'selected' : '' %>><%= des.nama_desa %></option>
          <% }); %>
        </select>
      </div>
      <div class="form-group">
        <label for="kode_pos">Kode Pos:</label>
        <input
          type="text"
          id="kode_pos"
          name="kode_pos"
          value="<%= user.kode_pos %>"
          class="form-control"
        />
      </div>
      <div class="form-group">
        <input type="submit" value="Submit" class="btn btn-primary" />
      </div>
    </form>
  </div>
</body>
<%- include('footer') %>
